<ion-header>
  <app-navbar></app-navbar>
</ion-header>

<ion-header [translucent]="true" >

  
  
  <ion-chip>recent</ion-chip>
  <ion-chip>popular</ion-chip>
  <ion-chip>english</ion-chip> 
  <ion-chip>french</ion-chip> 
  <ion-chip>german</ion-chip> 
  <ion-chip>arabic</ion-chip> 
  <ion-chip>spanish</ion-chip> 
  <ion-chip>chinese</ion-chip> 
  <ion-chip>japanese</ion-chip> 
  <ion-chip>korean</ion-chip> 
  <ion-chip>portuguese</ion-chip>
  
  

  <app-articals>
  </app-articals>
  


 
  
 
  
<ion-header/>

<ion-content [fullscreen]="true" >
  
</ion-content>
