<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>LikedPage</ion-title>
  </ion-toolbar>
  <ion-grid>
    <ion-row>
    <ion-col>
      <ion-item>Liked Cards</ion-item>
    </ion-col>
    <ion-col>
      <ion-item>Top Articals</ion-item>
    </ion-col>
  </ion-row>
  </ion-grid>

</ion-header>

<ion-content [fullscreen]="true" padding>
  <ion-grid>
    <ion-row>
      <!-- First Section -->
      <ion-col>
        <app-user-liked></app-user-liked>

      </ion-col>

      <!-- Second Section -->
      <ion-col >
        
        <app-most-liked></app-most-liked>

      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>

