<ion-app>
  <ion-router-outlet id="main-content"></ion-router-outlet>
  <ion-menu contentId="main-content" side="end">
    <ion-header>
      <ion-toolbar>
        <ion-title slot="start">Catagories</ion-title>
        <ion-menu-toggle slot="end" class="ion-padding">
          <ion-menu-button></ion-menu-button>
        </ion-menu-toggle>
      </ion-toolbar>
    </ion-header>
    <ion-content class="ion-padding">
      <ion-list>
        
        <ion-item> <ion-checkbox  (ionChange)="handleCheckboxChange('business')">Business</ion-checkbox></ion-item>
        <ion-item><ion-checkbox  (ionChange)="handleCheckboxChange('general')">General</ion-checkbox></ion-item>
        <ion-item><ion-checkbox (ionChange)="handleCheckboxChange('technology')">Technology</ion-checkbox></ion-item>
        <ion-item><ion-checkbox (ionChange)="handleCheckboxChange('science')">Science</ion-checkbox></ion-item>
        <ion-item><ion-checkbox (ionChange)="handleCheckboxChange('health')">Health</ion-checkbox></ion-item>
        <ion-item><ion-checkbox (ionChange)="handleCheckboxChange('entertainment')">Entertainment</ion-checkbox></ion-item>
        <ion-item><ion-checkbox (ionChange)="handleCheckboxChange('sports')">Sports</ion-checkbox></ion-item>
      </ion-list>
    </ion-content>
  </ion-menu>
</ion-app>
