<!-- <ion-header>
  <ion-toolbar>
     <ion-title>
      My App
    </ion-title> -->
    <!-- <ion-list>
      <ion-item [routerLink]="['/home']">
        Home
      </ion-button>
      <ion-button [routerLink]="['/liked-page']">
        Liked
      </ion-item>
      <ion-item [routerLink]="['/search-page']">
        search
      </ion-item>
    </ion-list> -->
  <!-- </ion-toolbar>
</ion-header>

<ion-content>

</ion-content> -->



<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button [routerLink]="['/home']">
        Home
      </ion-button>
      <ion-button [routerLink]="['/liked-page']">
        Liked
      </ion-button>
      <ion-button [routerLink]="['/search-page']">
        search
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

</ion-content>
